* {
    margin: 0;
    padding: 0;
}

.carousel {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.carousel-btn-left {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    z-index: 1;
}

.carousel-btn-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    z-index: 1;
}

.slide {
    position: absolute;
    inset: 0;
    opacity: 0;
}

.slide>img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.slide[data-active] {
    opacity: 1;
}

.dots {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 5px;
    width: fit-content;
    height: 20px;
}

.dot {
    display: block;
    height: 15px;
    width: 15px;
    border-radius: 100%;
    background-color: lightgray;
    cursor: pointer;
}

.dot[data-activedot] {
    background-color: gray
}